body{
	background: #f5f5f5;
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 16px;
    line-height: 1.5;
}

h1, h2, h3,
.pageHeading,
.h1, .h2, .h3{
	font-family: 'Oswald', sans-serif;
}

.card .title,
.isStrong,
.categoryTitle{
	font-weight: bold;
}

.f20,
.card .title{ font-size: 20px; }

.trace{ border: 1px solid red }

a,
a:focus,
a:hover{ text-decoration: none; }

.noPadding,
.userNav,
.thumbnail{ padding: 0 !important; }

.padding40_0{ padding: 40px 0 }

.bgPrimary{ background-color: #FA503B; }
.bgDark{ background-color: #1f1f1f; }

.colorPrimary,
.linksColorPrimary a{
	color: #FA503B;
}
.colorFFF,
.linksColorFFF a,
.businessTitle{
	color: #fff;
}

.card{
	background: #fff;
	border: 1px solid #ddd;
	box-shadow: 1px 2px 3px #ddd;
	margin: 0 auto 20px;
	padding: 15px;
}

.userNav .list-group-item{ border: none; }

.pagination { margin: 12px 0 10px; }

.f15,
.input-sm,
.input-group-sm > .form-control, .input-group-sm > .input-group-addon,
.input-group-sm > .input-group-btn > .btn{
	font-size: 15px;
}

.categories .card{
	margin: 10px auto;
	padding: 0;
}

.noBorderRadius,
.categories .panel,
.form-control{ border-radius: 0; }

.businessBanner{ position: relative; }
.businessTitle{ position: absolute; }

.businessTitle{
	background-color: rgba(0,0,0, .3);
	left: 0;
	padding: 5px 8px;
	right: 0;
	top: 0;
}
.hide-bullets {
    list-style:none;
    margin-left: -40px;
    margin-top:20px;
}

.carousel-inner>.item>img, .carousel-inner>.item>a>img {
    width: 100%;
}

@media screen and (min-width: 300px) and (max-width: 768px){
	#cols-2 *{
		text-align: center !important
	}
}

.cta a{
	border: 1px solid #FA503B;
	padding: 15px;
	display: block;
	max-width: 250px;
	margin: 45px auto 15px
}

.modal-wrapper {
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 10000;
    display: block;
    background: rgba(0, 0, 0, 0.61);
    width: 100%;
    height: 100%;
    display: flex;

}

.modal-wrapper .modal-container {
	position: relative;
    flex: 1;
    margin: auto;
    max-width: 800px;
}
.modal-wrapper .modal-container .close-button {
	position: absolute;
    top: 0px;
    right: 0px;
}