.app-grid {
	display: grid;
	grid-template-areas:
		"header"
		"main"
		"footer";

	@include mobile {
		grid-template-columns: 10px 250px auto 250px 10px;
        grid-template-areas:
			"header header header header header"
			"main main main main main"
			"footer footer footer footer footer";
	}

	@include tablet {
		grid-template-columns: 40px 300px auto 300px 40px;
	}

	@include desktop {
		grid-template-columns: 120px 300px auto 300px 120px;
	}
}

.homepage-container {
	display: grid;
	grid-template-areas:
		"hero"
		"content";
}

header {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-areas:
		"navbarbrand nav"
		"headermid headermid";
	align-items: center;

	@include mobile {
		grid-template-columns: 1fr 1fr;
		grid-template-areas:
			"navbarbrand nav"
			"headermid";
	}

	@include tablet {
		grid-template-columns: 20px 250px auto 250px 20px;
		grid-template-areas:
            ". navbarbrand headermid nav .";
	}

	@include desktop {
		grid-template-columns: 120px 300px auto 300px 120px;
	}
}

.listing-search-form {
	form{
		display: grid;
		column-gap: 17px;

		@include mobile {
			grid-template-columns: 1.20fr 1.20fr 0.6fr;
		}

		@include tablet {
			grid-template-columns: 1.20fr 1.20fr 0.6fr;
		}
	}
}


.business-card {
    display: grid;
    grid-column-gap: 20px;

	grid-template-rows: 210px 90px auto 40px;
    @include desktop {
        //grid-template-columns: minmax(200px, 350px) auto
	}

	.card-footer {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
	}
}

.content {
	grid-area: content;
}

.businesses {
    /*
	display: grid;
	grid-template-areas:
	"sidebar"
	"businesscards";
	grid-gap: 8px;

	@include desktop {
		grid-template-columns: 300px auto;
		grid-template-areas:
		"sidebar businesscards"
	}*/
}

.business-cards {
	grid-area: businesscards;
	display: grid;
    grid-gap: 1rem;

    @include tablet {
		grid-template-columns: 1fr 1fr;
	}

	@include desktop {
		grid-template-columns: 1fr 1fr 1fr;
	}
}

.business-search-form {
    display: grid;
    grid-gap: 1rem;

    @include tablet {
		grid-template-columns: repeat(4, 1fr);
	}
}
.hero {
	.how-it-works{
		display: grid;
		grid-gap: 0.7rem;
		grid-template-columns: 0.8fr 0.8fr 0.8fr 0.6fr;
	}
}