// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
    .listings-page-container {
        grid-template-columns: 300px auto;
        grid-template-rows: 200px 60px auto;
    }

    .homepage-container {
        grid-template-columns: 150px 150px auto 150px 150px;
        grid-template-areas:
			"addlistingcta addlistingcta hero hero hero"
            "homeadblock homeadblock content content content";
    }
}
@media (min-width: 992px) {
    .container {
        grid-template-columns: 300px auto 250px;
        grid-template-areas:
			"header nav search"
			"main main main"
			"footer footer footer";
	}

    .listings-page-container {
        grid-template-columns: 300px auto 250px;
        grid-template-rows: 200px 60px auto;
    }

	.business-card {
		grid-template-columns: 1fr 2fr;
    }

}

