@mixin clearfix() {
  &::after {
    display: block;
    clear: both;
    content: "";
  }
}

// Transitions
@mixin transition( $property: all, $duration: 0.4s, $ttf: ease-out) {
  -webkit-transition: $property $duration $ttf;
  -moz-transition: $property $duration $ttf;
  -ms-transition: $property $duration $ttf;
  -o-transition: $property $duration $ttf;
  transition: $property $duration $ttf;
}


//Spaces
$spaceamounts: (0, 0.25, 0.5, 1, 1.5, 3); // Adjust this to include the pixel amounts you need.
$sides: ( "", top, bottom, left, right); // Leave this variable alone

// https://stackoverflow.com/questions/45789591/sass-for-loop-including-0
@for $i from 0 through length($sides) {
	@each $side in $sides {
		@if $side == "" {
			.m-#{$i} {
				margin: #{nth($spaceamounts, $i + 1	)}rem !important;
			}

			.p-#{$i} {
				padding: #{nth($spaceamounts, $i + 1 )}rem !important;
			}

			// Border
			.border-#{$i} {
				border: #{$i}px solid #ddd;
			}
		}
		@else {
			.m#{str-slice($side, 0, 1)}-#{$i} {
				margin-#{$side}: #{nth($spaceamounts, $i + 1 )}rem !important;
			}

			.p#{str-slice($side, 0, 1)}-#{$i} {
				padding-#{$side}: #{nth($spaceamounts, $i + 1 )}rem !important;
			}

			.border-#{str-slice($side, 0, 1)}-#{$i} {
				border-#{$side}: #{$i}px solid #ddd;
			}
		}
	}
	.mx-#{$i} {
		margin-left: #{nth($spaceamounts, $i + 1 )}rem !important;
		margin-right: #{nth($spaceamounts, $i + 1 )}rem !important;
	}

	.px-#{$i} {
		padding-left: #{nth($spaceamounts, $i + 1 )}rem !important;
		padding-right: #{nth($spaceamounts, $i + 1 )}rem !important;
	}

	.my-#{$i} {
		margin-top: #{nth($spaceamounts, $i + 1	)}rem !important;
		margin-bottom: #{nth($spaceamounts, $i + 1	)}rem !important;
	}

	.py-#{$i} {
		padding-top: #{nth($spaceamounts, $i + 1 )}rem !important;
		padding-bottom: #{nth($spaceamounts, $i + 1 )}rem !important;
	}
}

$colors: #F44336, #3F51B5, #9C27B0, #4CAF50, #00BCD4, #CDDC39;
$repeat: 6;  // How often you want the pattern to repeat.
// Warning: a higher number outputs more CSS.

@for $i from 1 through $repeat {
    #category-thumbs a:nth-child(#{length($colors)}n+#{$i}) {
		background: nth($colors, $i);
    }
}

@mixin card() {
	background-color: $bg-white;
	@extend .p-3;
	margin-bottom: 15px;
	.card-text {
		font-size: 14px
	}
}

//Images
@mixin img-fluid {
	max-width: 100%;
	height: auto;
}

// Buttons Sizing
@mixin button-size($padding-y, $padding-x, $font-size, $line-height, $border-radius, $color) {
  padding: $padding-y $padding-x;
  font-size: $font-size;
  line-height: $line-height;
  border-radius: $border-radius;
  color: $color;
}

@mixin mobile {
	@media (min-width: #{$mobile-width}) {
    	@content;
  	}
}

@mixin tablet {
	@media (min-width: #{$tablet-width}) {
    	@content;
  	}
}

@mixin desktop {
	@media (min-width: #{$desktop-width}) {
    	@content;
  	}
}

@mixin largescreen {
	@media (min-width: #{$largescreen-width}) {
    	@content;
  	}
}