//Spaces
$spaceamounts: (0, 1, 2, 3, 4, 5); // Adjust this to include the pixel amounts you need.
$sides: ( "", top, bottom, left, right); // Leave this variable alone
@each $space in $spaceamounts {
	@each $side in $sides {
		@if $side == "" {
				.m-#{$space} {
					margin: #{$space}rem !important;
				}

				.p-#{$space} {
					padding: #{$space}rem !important;
				}
		}
		@else {
			.m#{str-slice($side, 0, 1)}-#{$space} {
				margin-#{$side}: #{$space}rem !important;
			}

			.p#{str-slice($side, 0, 1)}-#{$space} {
				padding-#{$side}: #{$space}rem !important;
			}
		}

	}
}

$colors: #F44336, #3F51B5, #9C27B0, #4CAF50, #00BCD4, #CDDC39;
$repeat: 6;  // How often you want the pattern to repeat.
// Warning: a higher number outputs more CSS.

@for $i from 1 through $repeat {
    #category-thumbs a:nth-child(#{length($colors)}n+#{$i}) {
		background: nth($colors, $i);
    }
}

@mixin card() {
	background-color: #fff;
	@extend .p-2;
	margin-bottom: 15px;
}

	//Images

@mixin img-fluid {
	max-width: 100%;
	height: auto;
}