
// Body
// $body-bg: #f5f8fa;
$body-bg: #f3f3f6;
$bg-primary: #3f51b5;
$color-primary: #3f51b5;
$text-dark: #333;
$bg-white: #FFF;

// Typography
$font-family-sans-serif: "Raleway", sans-serif;
$font-size-base: 1rem !default;
$line-height-base: 1.6;

$h1-font-size:                $font-size-base * 2.5 !default;
$h2-font-size:                $font-size-base * 2 !default;
$h3-font-size:                $font-size-base * 1.75 !default;
$h4-font-size:                $font-size-base * 1.5 !default;
$h5-font-size:                $font-size-base * 1.25 !default;
$h6-font-size:                $font-size-base !default;

$body-font: 'Lato', sans-serif;
$heading-font: 'Raleway', sans-serif;

// RWD
$mobile-width: 576px;
$tablet-width: 768px;
$desktop-width: 992px;
$largescreen-width: 1350px;