
// Fonts
// @import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");
@import url('https://fonts.googleapis.com/css?family=Lato|Raleway');

// Variables
@import "variables";
@import '~normalize.scss/normalize';
@import "mixin";

* {
    box-sizing: border-box;
}
h1, h2, h3 {
	font-family: 'Raleway', sans-serif;
	color: #2f2520;
}
body {
	background: $body-bg;
	font-family: 'Lato', sans-serif;
}

.text-white {
    color: #FFF
}

.text-center {
	text-align: center
}

a {
	text-decoration: none
}

.container {
	display: grid;
	grid-template-areas:
		"header"
		"nav"
		"search"
		"main"
		"footer";
}

.listings-page-container {
    display: grid;
}

input[type=text] {
    border: 0;
    @extend .pt-0;
    @extend .pb-0;
    @extend .pl-1;
    @extend .pr-1;
}

.homepage-container {
	display: grid;
	grid-template-columns: 1fr 6fr 1fr;
	grid-template-areas:
	"hero hero hero"
	". content .";
	// @extend .mt-5;
}

.header a,
.search input[type=text],
.navbar a {
    line-height: 60px;
}

.header a,
.navbar a {
    display: inline-block;
    @extend .pr-1;
    @extend .pl-1;
}

.navbar a {
    color: #333
}
.navbar a:hover {
    background: #FFC107
}

.header {
	grid-area: header;
    background: #333;

    a {
        @extend .text-white
    }
}

.main {
	grid-area: main;
}

.search {
	grid-area: search;
    background: #777;
    height: 55px
}

.search input[type=text] {
    width: 100%
}

.navbar {
	grid-area: nav;
	background: #e1e7ea;
}

.hero {
	grid-area: hero;
	background: yellow;
	line-height: 0
}

.content {
	grid-area: content;
}
.business-card {
	display: grid;
	grid-column-gap: 20px;
}
.card{
	@include card();
	.card-title {
		color: #222;
		font-size: 22px;
		a {
			color: #222;
		}
	}
	.card-text {

	}
}

// Bootstrap
// @import '~bootstrap/scss/bootstrap';

/*
.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

h1, .h1 {
	margin-top: 39px;
	margin-bottom: 2.5rem
}

.btn {
    border-radius: 0
}
a {
    color: #03a9f4
}

h3,
.business-card .card-title {
    font-weight: bold
}

.card {
	border: none;
    border-radius: 0;
    padding: 20px;
    // box-shadow: 0px 5px 10px #dfdfdf;
}

.card-text {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 16px
}

body {
    padding-top: 54px;
}
@media (min-width: 992px) {
    body {
        padding-top: 56px;
    }
}
*/
.fade-enter-active, .fade-leave-active {
  transition: opacity .2s;
}
.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
  opacity: 0;
}
.slide-fade-enter-active {
  transition: all .3s ease;
}
.slide-fade-leave-active {
  transition: all .8s cubic-bezier(1.0, 0.5, 0.8, 1.0);
}
.slide-fade-enter, .slide-fade-leave-to
/* .slide-fade-leave-active below version 2.1.8 */ {
  transform: translateX(10px);
  opacity: 0;
}

@import "media-queries";