*,
*::before,
*::after {
  box-sizing: border-box;
}

h1, .h1 { font-size: $h1-font-size; }
h2, .h2 { font-size: $h2-font-size; }
h3, .h3 { font-size: $h3-font-size; }
h4, .h4 { font-size: $h4-font-size; }
h5, .h5 { font-size: $h5-font-size; }
h6, .h6 { font-size: $h6-font-size; }

// Transformation
.text-lowercase  { text-transform: lowercase !important; }
.text-uppercase  { text-transform: uppercase !important; }
.text-capitalize { text-transform: capitalize !important; }

//Positions
.isRelative{ position: relative}
.isAbsolute{ position: absolute}
.isFixed{ position: fixed;}



.clearfix {
	clear: both;
}

body {
	background: $body-bg;
	font-family: 'Lato', sans-serif;
}

.text-white {
    color: #FFF !important
}

.bg-primary {
	background-color: $bg-primary;
}

.bg-white {
	background-color: $bg-white !important;
}
.text-dark-light{
	color: #525454
}
.text-center {
	text-align: center
}

.text-right {
	text-align: right
}

a {
    text-decoration: none;

    &:hover {
        color: #3F51B5;
    }
}

input[type=text] {
    border: 0;
    @extend .pt-0;
    @extend .pb-0;
    @extend .pl-1;
    @extend .pr-1;
}

header {
	grid-area: header;
	background: #FFF;
	@extend .border-1;
}

main {
	grid-area: main;
}

footer {
	grid-area: footer;
}

.navbar-brand {
	grid-area: navbarbrand;
	@extend .text-dark-light;
}

nav {
	grid-area: nav;
	@extend .text-right
}

.header-mid {
	grid-area: headermid;
}

.navbar-brand,
.header-mid,
nav {
	@extend .p-2;
}

.hero {
	grid-area: hero;
	@extend .bg-white;
	// @extend .px-5;
	@extend .pt-2;
}

.content {
	grid-area: content
}

.business-card {
	display: grid;
	grid-column-gap: 20px;
}

.card{
	@include card();
	.card-title {
		color: #222;
		font-size: 22px;
		a {
			color: #222;
		}
	}
}

.btn {
	display: inline-block;
    @extend .text-center;
    white-space: nowrap;
    vertical-align: middle;
    user-select: none;
}

.img-fluid {
    @include img-fluid;
}

.listing-search-form {
	.form{
		background: $body-bg;
		margin-top: 80px;
	}
	.input-container{

		input{
			border: 1px solid #555;
			width: 100%;
			@extend .p-2;
			font-size: 1.3rem;
			border: 1px solid #ddd;

		}
		input[type='submit']{
			background: $bg-primary;
			border: 1px solid $bg-primary;
			color: #fff;
			display: inline-block;
		}
	}
}