*,
*::before,
*::after {
  box-sizing: border-box;
}

h1, .h1 { font-size: $h1-font-size; }
h2, .h2 { font-size: $h2-font-size; }
h3, .h3 { font-size: $h3-font-size; }
h4, .h4 { font-size: $h4-font-size; }
h5, .h5 { font-size: $h5-font-size; }
h6, .h6 { font-size: $h6-font-size; }

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
	font-family: $heading-font;
}

h1, h2, h3,
.h1, .h2, .h3 {
    color: $text-dark;
}

.debug { border: 1px dashed red; }
ul,ol { list-style-type: none; }


// Transformation
.text-lowercase  { text-transform: lowercase !important; }
.text-uppercase  { text-transform: uppercase !important; }
.text-capitalize { text-transform: capitalize !important; }

//Positions
.isRelative{ position: relative}
.isAbsolute{ position: absolute}
.isFixed{ position: fixed;}

.clearfix {
	@include clearfix();
}

html{
	font-size: $font-size-base;
	// @include mobile {
	// 	font-size:
	// 	.;
	// }
}

.d-block { display: block; }
.d-inline-b { display: inline-block; }
body {
	background: $body-bg;
	font-family: $body-font;
    line-height: 1.5;
    color: #171717;
}


.container {
	margin: auto;
	max-width: $largescreen-width;
	@extend .px-4;
}

.text-white {
    color: #FFF !important
}

.bg-transparent {
	background-color: transparent
}

.bg-primary {
	background-color: $bg-primary;
	background-image: url(/images/bg-1.PNG);
}

.bg-white {
	background-color: $bg-white !important;
}

.text-dark {
	color: $text-dark;
}

.text-dark-light{
	color: #525454
}
.text-center {
	text-align: center
}

.text-right {
	text-align: right
}

a {
    text-decoration: none;
    color: $text-dark;

    &:hover{
        color: #4d545d;
    }
}

p {
	@extend .mt-0;
	@extend .mb-2;
}

.input-field {
    width: 100%;
	@extend .p-2;
	border: 0;
	border-bottom: 1px solid #ddd;
}

header {
	grid-area: header;
	background: $bg-white;
	font-family: $heading-font;
    @extend .border-b-1;
}

main {
	grid-area: main;
}

footer {
	grid-area: footer;
}

.navbar-brand {
	grid-area: navbarbrand;
	font-weight: 700;
    @extend .text-dark-light;
    font-size: 1.5rem;
	@extend .pl-3;
	@include mobile{
		font-size: 1.8rem;
	}
}

nav {
	grid-area: nav;
    @extend .text-right;
    @extend .pr-3;
}

nav a,
.header-mid a {
    font-size: 1rem;
    @extend .p-2;
}

.header-mid {
	grid-area: headermid;
	.btn{
		&:hover { background-position: right center; }
		// @extend .text-white;
		@extend .d-block;
	}
}

.navbar-brand,
.header-mid,
nav {
	@extend .p-2;
}

.hero {
	grid-area: hero;
	@extend .bg-white;
	@extend .pt-2;
}

.card {
	@include card();
	.card-title {
		color: $text-dark;
		@extend .mb-0;
		a {
			color: $text-dark;
		}
	}
	.subtitle {
		color: #999;
		font-size: 13px;
    }
    .card-footer {
		@extend .border-t-1;
    }
}
.btn {
    @extend .d-inline-b;
    @extend .text-center;
    white-space: nowrap;
    vertical-align: middle;
    user-select: none;
    border: none;
    padding: 0.4rem 0.6rem;
}

.btn-block {
    width: 100%
}

.btn-primary {
	// background: $bg-primary;
	@extend .bg-primary;
    color: #FFF;
}

.btn-sm{
	@include button-size( 5px, 15px, .8rem, 1.5, 0, '')
}
.bg-grad{
	background-image: linear-gradient(to right, #4CB8C4 0%, #3CD3AD 51%, #4CB8C4 100%);
}

// .btn-md{
// 	  @include button-size( 5px, 15px, .8rem, 1.5, 0, white)
// }
// .btn-lg{
// 	  @include button-size( 5px, 15px, .8rem, 1.5, 0, white)
// }

.img-fluid {
    @include img-fluid;
}

.listing-search-form {
	.form {
		background: $body-bg;
        @extend .p-3;
		//background: #ececec;
		background: $body-bg;

		// -webkit-box-shadow: 0 15px 30px 0 rgba(0,0,0,.11), 0 5px 15px 0 rgba(0,0,0,.08);
		// box-shadow: 0 15px 30px 0 rgba(0,0,0,.11), 0 5px 15px 0 rgba(0,0,0,.08);
		/*
			background: #f6f6f7;
			-webkit-box-shadow: 0 15px 30px 0 rgba(0, 0, 0, 0.11), 0 5px 15px 0 rgba(0, 0, 0, 0.08);
			box-shadow: 0 10px 30px 0 rgba(0, 0, 0, 0.11), 0 5px 15px 0 rgba(0, 0, 0, 0.08);

		*/
	}
	.input-container{
		@extend .isRelative;

		input[type='submit'] {
			color: #fff;
			@extend .d-inline-b;
		}
	}
}

.sidebar {
	background: #FFF;
	@extend .px-4;
}

.ratings {
    .fa-star {
        color: orange
    }
}

.business-search-form {
	@extend .p-3;
    background: white;
	// box-shadow: 1px 2px 3px #ddd;
	.btn{
		font-weight: bold;
		letter-spacing: 1px;

		@extend .p-0;
	}

	.btn,
	.input-field {
		height: 50px;
		line-height: 50px;
	}
}

.business-card {
	padding-bottom: 0 !important;
	margin-bottom: 0 !important;

	.card-thumb {
		max-height: 200px;
		overflow: hidden;
	}

	.card-title {
		font-size: 16px;
	}

	.card-footer {
		align-content: center;
	}
}

.how-it-works li {
	// @extend .card;
	@extend .p-2;
}

.business-page{
    @include tablet {
        padding: 1rem;
	}
	.card-logo {
		img {
			margin: auto;
			width: 5rem;
			@include tablet {
				width: 12rem;
			}
		}
	}
	.slider {
		line-height: 0;
	}
	h4{
		@extend .m-0;
		@extend .mb-2;
	}
	.social-links-card{
		a{
			@extend .d-inline-b;
			font-size: $h3-font-size;
		}
	}
	.card {
		@extend .mb-0;
		font-size: 14px;
	}
	.phone-and-address{
		p{
			@extend .mb-1
		}
	}
	span.icons{
		width: 1.625rem;
		height: 1.625rem;
		line-height: 1.625rem;
		background: $body-bg;
		@extend .d-inline-b;
		@extend .text-center;
		border-radius: 50%;
	}
	.grid-col-2{
		grid-gap: .25rem;
		grid-template-columns: 26px 1fr;
	}
}
.qa{
	.que{
		font-weight: bold;
		@extend .mb-1;
	}
}
